<%- include('navbar_2.ejs')%>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="box">
        <div class="img_container">
          <div class="img-box b1">
            <img src="/images/<%=about.image1%>" alt=""/>
          </div>
          <div class="img-box b2">
            <img src="/images/<%=about.image2%>" alt=""/>
          </div>
        </div>
        <div class="detail-box">
          <h2>
            <%=about.heading%>
          </h2>
          <p>
            <%=about.subheading%>
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
<%- include('footer.ejs')%>